.#{$namespace}cart {
  &--view {
    position: absolute;
    top: 20px;
    right: 20px;
    width: auto;
    max-width: 600px;
    margin: 0 auto;
  }

}

.#{$namespace}cart__mini {
  position: absolute;
  z-index: 999;
  top: 20px;
  right: -500px;
  width: 100%;
  max-width: 220px;
  -webkit-transition: .25s right ease;
  -moz-transition: .25s right ease;
  -ms-transition: .25s right ease;
  -o-transition: .25s right ease;
  transition: .25s right ease;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);

   ul li {
    margin: 0;
    padding: 0;
    padding: 20px;
     padding-top: 0px;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
  }

  &-total {
    font-size: 18px;
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px;
    color: white;
    background: #2c3e50;
  }



  &--close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: auto;
    margin: 0;
    padding: 0 5px 3px;
    color: white;
    background: #2c3e50;
    box-shadow: none;

    + ul {
      margin: 15px;
    }
  }

  .#{$namespace}cart--active & {
    right: 20px;
  }

  .span.total {
    font-size: 18px;
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px;
    color: white;
    background: #2c3e50;
  }

}
