$brand-font-family: Arial, sans-serif !default;

$text-font-weight: 300 !default;
$text-strong-font-weight: 600 !default;
$control-font-weight: 600 !default;

$content-font-size: 16px !default;
$content-small-font-size: 14px !default;
$content-large-font-size: 24px !default;
$content-xlarge-font-size: 32px !default;
$control-font-size: 19px !default;
$small-menu-font-size: 16px !default;
$large-menu-font-size: 24px !default;


$h1-font-size: 48px !default;
$h1-line-height: 1.125 !default;
$h1-palm-font-size: 36px !default;
$h2-font-size: 36px !default;
$h2-line-height: 1.23 !default;
$h2-palm-font-size: 30px !default;
$h3-font-size: 24px !default;
$h3-line-height: 1.333 !default;
$h4-font-size: 18px !default;
$h4-line-height: 1.333 !default;
$h5-font-size: 16px !default;
$h5-line-height: 1.375 !default;
$h6-font-size: 16px !default;
$h6-line-height: 1.375 !default;

