$button-vertical-padding:
  round($inuit-base-spacing-unit / 3) - $button-border-width;
$button-horizontal-padding:
  round($inuit-base-spacing-unit) - $button-border-width;

@mixin basic-button {

  background-color: transparent;
  border-radius: 2px;
  color: $button-text-color;
  @include inuit-font-size($control-font-size, $inuit-base-spacing-unit);
  font-weight: $control-font-weight;
  cursor: pointer;
  text-align: center;
  outline: none;
  min-width: $button-min-width;
  max-width: $button-max-width;

  @include media-query(lap-and-up) {
    transition: 0.1s ease-in-out;
  }

}

.seek {
  input[type="button"],
  input[type="submit"],
  button:not(.#{$namespace}button) {
    @include basic-button();

    &:focus {
      border-color: $focus-border-color;
      box-shadow: 0 0 1px 1px $focus-border-color;
    }

    &:active {
      border-top: 5px solid white;
      box-shadow: none;
    }
  }

  a.#{$namespace}button {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.#{$namespace}button {
  @include basic-button();

  &--focus {
    border: $button-border-width solid $focus-border-color;
    box-shadow: 0 0 1px 1px $focus-border-color;
  }

  &--cart {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color .2s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: transparent;
    color: rgba(0,0,0,.86);

    > span {
      margin-left: 1em;
      font-size: 13px !important;
    }

  }



}


.#{$namespace}button--plain {
  width: auto;
  height: auto;
  min-width: 0;
  max-width: none;
  text-align: inherit;
  font-weight: inherit;

  .#{$namespace}button__label {
    margin: 0 halve($inuit-base-spacing-unit);
  }

  .#{$namespace}button__icon {
    padding: halve($inuit-base-spacing-unit);

    + .#{$namespace}button__label {
      margin-left: 0;
    }
  }

}
